<div class="container">
  <h1>Latest Products</h1>
  <div class="row">
    <div class="col-12 col-sm-6 my-sm-3 col-md-4 col-lg-3 d-flex justify-content-center"
      *ngFor="let product of prodctList">
      <div class="card p-2 mt-5" style="width: 18rem;">
        <p class="card-text price"><strong>Price:</strong> {{ product.price | currency }}</p>
        <button class="btn fav"> <i [ngClass]="isFav ? 'bi bi-heart-fill' : 'bi bi-heart'"></i>
        </button>
        <img [src]="product.category.image" class="card-img-top" alt="{{ product.title }}">
        <div class="card-body">
          <button style="border: none;all: unset;cursor: pointer;">
            <h5 style="font-weight:bold;" class="card-title">{{ product.category.name }}</h5>
          </button>
          <button style="border: none;all: unset;cursor: pointer;" [routerLink]="[`/details/${product.id}`]">
            <p class="card-text" style="color: #828996;">Lorem ipsum dolor sit amet consectetur adipisicing elit.ue
              excepturi velit vel corrupti
              perspiciatis aut enim.</p>
          </button>
        </div>
        <button class="btn add mx-3" (click)="addToCart(product)">Quick Add</button>

      </div>
    </div>
  </div>
</div>
