<div class="container">
  <h1>Latest Products</h1>

  <div class="d-flex justify-content-center my-5" *ngIf="isLoading">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-6 my-sm-3 col-md-4 col-lg-3 d-flex justify-content-center"
      *ngFor="let product of prodctList">
      <div class="card p-2 mt-5" style="width: 18rem;">
        <p class="card-text price"><strong>Price:</strong> {{ product.price | currency }}</p>
        <button class="btn fav"> <i [ngClass]="isFav ? 'bi bi-heart-fill' : 'bi bi-heart'"></i>
        </button>
        <img [src]="product.category.image" class="card-img-top" alt="{{ product.title }}">
        <div class="card-body">
          <h5 class="card-title">{{ product.title }}</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.ue excepturi velit vel corrupti
            perspiciatis aut enim.</p>
        </div>
        <button class="btn add mx-3" (click)="addToCart(product)">Quick Add</button>

      </div>
    </div>
  </div>
</div>
