<div class="container my-5">
    <div class="row justify-content-center align-items-center">
      <div class="pros text-center col-12 col-md-6 col-lg-2 mb-4">
        <i class="bi bi-headset"></i>
        <h3>24/7 SUPPORT</h3>
        <p>Support every time</p>
      </div>
      <div class="pros text-center col-12 col-md-6 col-lg-2 mb-4">
        <i class="bi bi-credit-card"></i>
        <h3>ACCEPT PAYMENT</h3>
        <p>Visa, Paypal, Master</p>
      </div>
      <div class="pros text-center col-12 col-md-6 col-lg-2 mb-4">
        <i class="bi bi-lock-fill"></i>
        <h3>SECURED PAYMENT</h3>
        <p>100% secured</p>
      </div>
      <div class="pros text-center col-12 col-md-6 col-lg-2 mb-4">
        <i class="bi bi-truck"></i>
        <h3>FREE SHIPPING</h3>
        <p>Order over $300</p>
      </div>
      <div class="pros text-center col-12 col-md-6 col-lg-2 mb-4">
        <i class="bi bi-calendar-fill"></i>
        <h3>30 DAYS RETURN</h3>
        <p>30 days guarantee</p>
      </div>
    </div>
  </div>
