<div class="container">
  <div class="form-container">
    <h2 class="form-title">Create Your Account</h2>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
      <div class="row mb-3">
        <div class="col">
          <label for="firstName" class="form-label">First Name</label>
          <input type="text" formControlName="firstName" class="form-control" id="firstName" placeholder="Shimaa">
          <div *ngIf="getFirstName?.touched&&getFirstName?.hasError('required')" class="text-danger">
            First Name is Required
          </div>
        </div>

        <div class="col">
          <label for="lastName" class="form-label">Last Name</label>
          <input type="text" formControlName="lastName" class="form-control" id="lastName" placeholder="Adel">
          <div *ngIf="getLastName?.touched&&getLastName?.hasError('required')" class="text-danger">
            Last Name is Required
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" formControlName="email" class="form-control" id="email" placeholder="shyma0448@gmail.com">
        <div *ngIf="getEmail?.touched&&getEmail?.hasError('required')" class="text-danger">
          Email is Required
        </div>
      </div>

      <div class="mb-3">
        <label for="phone" class="form-label">Phone Number</label>
        <input type="text" formControlName="phone" class="form-control" id="phone">
        <div *ngIf="getPhone?.touched&&getPhone?.hasError('required')" class="text-danger">
          Phone is Required
        </div>
      </div>

      <div class="row mb-3">
        <div class="col">
          <label for="password" class="form-label">Password</label>
          <input type="password" formControlName="password" class="form-control" id="password">
          <div *ngIf="getPassword?.touched">
            <div *ngIf="getPassword?.hasError('minlength')" class="text-danger">
              password Must Be 6 chars at Least
            </div>
            <div *ngIf="getPassword?.hasError('required')" class="text-danger">
              Password is Required
            </div>

          </div>
        </div>
        <div class="col">
          <label for="confirmPassword" class="form-label">Confirm Password</label>
          <input type="password" formControlName="confirmPassword" class="form-control" id="confirmPassword">
          <div *ngIf="getConfirmPassword?.errors?.['mismatch'] && getConfirmPassword?.touched" class="text-danger">
            Passwords do not match.
          </div>

        </div>
      </div>

      <div class="d-grid">
        <button type="submit" class="btn btn-primary">Register</button>
      </div>

      <div class="login-link">
        have an account ? <a [routerLink]="['/login']" routerLinkActive="router-link-active" >Login now</a>
      </div>
    </form>
  </div>
</div>
