<div class="heroFull">
<div class="container p-5 d-flex align-items-center justify-content-center flex-wrap text-center text-md-start">
 <div>
     <img src="assets/images/home.png" width="112" class="headerImage d-lg-block d-md-none d-sm-none d-xs-none"
      height="149" alt="">
    <h1 style="font-weight: 900; font-size: 48px;" class="mainDescription text-gray-900  ">
      Discover <span class="p-1" style="color: white; background-color: #4B5563;">Quality</span>, Style and <br />
      Convenience in Every Product
    </h1>
    <p style="font-weight: 500;font-size: 18px; " class="mt-4">Welcome to <span
        style="font-weight: 800;font-size: 18px;">Aviato</span> , your one-stop destination for premium products at
      unbeatable <br> prices. Explore our wide selection of high-quality items</p>
  <ul style="list-style: none; font-weight: 500; font-size: 18px; padding: 0;"class="mt-4">
  <li class="d-flex align-items-start mb-2">
    <i class="bi bi-check2" style="color: #16A34A; font-size: 20px; margin-right: 8px;"></i>
    High-quality, durable material
  </li>
  <li class="d-flex align-items-start mb-2">
    <i class="bi bi-check2" style="color: #16A34A; font-size: 20px; margin-right: 8px;"></i>
    5 year print guarantee
  </li>
  <li class="d-flex align-items-start mb-2">
    <i class="bi bi-check2" style="color: #16A34A; font-size: 20px; margin-right: 8px;"></i>
    Modern iPhone models supported
  </li>
</ul>
<div class="userReviews d-flex mt-4"  >
  <div class="imagesStack" >
  <img src="assets/images/user-1.png" alt="">
  <img src="assets/images/user-2.png" alt="">
  <img src="assets/images/user-3.png" alt="">
  <img src="assets/images/user-4.jpg" alt="">
  <img src="assets/images/user-5.jpg" alt="">
</div>
<div class="review mx-2">
  <div class="stars d-flex">
    <i class="bi bi-star-fill mx-1"></i>
    <i class="bi bi-star-fill mx-1"></i>
    <i class="bi bi-star-fill mx-1"></i>
    <i class="bi bi-star-fill mx-1"></i>
    <i class="bi bi-star-fill mx-1"></i>
  </div>
  <div>
    1.250 happy customers
  </div>
</div>
</div>
 </div>

<div class="img2 m-5 " style="width: 350px; height: 400px; box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);">
  <img src="assets/images/home2.png" width="350" height="400" alt="">
    <div class="overlay"></div>

<div class="text">
  <h4 style="font-weight: 600;font-size: 24px;">New Men Collection</h4>
  <p style="font-weight: 300;font-size: 14px;">tailored to meet your every need</p>
  <button class="btn" style="color: white;background-color: #4B5563;">Shop Now</button>
</div></div>

 </div>


</div>
