<div class="details">
  <div class="container my-4">
    <h1 class="fw-bold fs-2 text-center mb-4">Shopping Cart</h1>

    <div class="row g-4">
      <div class="col-lg-7 col-md-12">
        <div *ngIf="isLoading" class="text-center my-5">
          <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
        <div *ngIf="!isLoading">
          <div class="item p-3 my-3" *ngFor="let product of addedProducts">
            <div>
              <img loading="lazy" [src]="product.product_image" alt="" class="img-fluid product-img rounded"
                style="width: 96px; height: 96px; object-fit: cover;">
            </div>
            <div class="detail">
              <div class="title">{{ product.product_name }}</div>
              <div class="total-price">${{ product.product_price }}</div>
            </div>

            <div class="buttons">
              <span>Quantity:</span>
              <span id="quantity-value">{{ product.quantity }}</span>
            </div>

            <div class="price">
              ${{ product.sub_total }}
            </div>

            <div class="remove">
              <button (click)="remove(product.id)">✖</button>
            </div>
          </div>
        </div>

      </div>

      <div class="col-lg-5 col-md-12 ">
        <div class="cart-summary mt-3 p-4 rounded">
          <h4 class="fw-bold mb-4">Cart Summary</h4>
          <div class="d-flex justify-content-between mb-2">
            <span>Subtotal:</span>
            <span>{{subTotal}}$</span>
          </div>
          <div class="d-flex justify-content-between mb-2">
            <span>Tax:</span>
            <span>{{tax}}$</span>
          </div>
          <hr>
          <div class="d-flex justify-content-between fw-bold fs-5 mb-4">
            <span>Total</span>
            <span>{{subTotal+tax}}$</span>
          </div>
          <button class="btn btn-primary w-100 mb-3">Checkout</button>
          <button class="btn btn-secondary w-100">Continue Shopping</button>
        </div>
      </div>
    </div>
  </div>
</div>
